/* You can add global styles to this file, and also import other style files */
@import '980gs';

@mixin forSmallScreens($media) {
    @media (max-width: $media) { @content; }
}

// Basic Styling
.container-12 {
    background: #aaa;
    font-size: 30px;
    text-shadow: 0 1px 1px rgba(black, .5);
}
.container-12 {
    @include forSmallScreens(980px) {
        width: 768px;
    }
    @include forSmallScreens(768px) {
        width: 640px;
    }
    @include forSmallScreens(640px) {
        width: 480px;
    }
    @include forSmallScreens(480px) {
        width: 320px;
        padding: 0;
    }
    .grid-12 { 
        // Header and footer sections
        @include forSmallScreens(980px) {
            width: 728px;
        }
        @include forSmallScreens(768px) {
            width: 600px;
        }
    }
    .grid-3 { 
        // nav section
        @include forSmallScreens(980px) {
            width: 200px;
        }
        @include forSmallScreens(768px) {
            width: 160px;
        }
    }
    .grid-9 {
        // content section
        @include forSmallScreens(980px) {
            width: 508px;
        }
        @include forSmallScreens(768px) {
            width: 420px;
        }        
    }
    .grid-3,
    .grid-9,
    .grid-12 {
        @include forSmallScreens(640px) {
            width: 440px;
        }
        @include forSmallScreens(480px) {
            width: 300px;            
        }
    }
        
}
header { background: #429032; }
nav { background: #2963BD; }
section { background: #c90; }
footer { background: #c03; }

// Give highlights to elements for better percoption of the sections
header, footer { height: 150px; }
nav, section { height: 440px;}

.ie7 nav li,
.ie8 nav li,
.ie9 nav li,
{
    float: left;
}

nav {
    display: flex;
}
